*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: rgba(10,10,10,.42);
}
/*Header*/
header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 100%);
    height: 150px;
    display: flex;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}

header img{
    height: 150px;
    margin: 0 20px;
}
header h1{
    position: absolute;
    width: 100%;
    text-align: center;
    color: green;
}
/*Fin del Header*/


/* Definimos el Display de las filas*/
.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Definimos el contenedor*/
.container{
    margin: 20px;
    border: 2px solid black;
    width: 40vw;
    height:45vh;
    text-align: center;
    position: relative;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px black;
    overflow: hidden; 
    background: rgba(0,0,0,.12);
    border-radius: 5px;
}

/*Definimos los h1 del contenedor*/
.container h1{
    position:absolute;
    margin: 0;
    padding: 0;
    top: 5%;
}

@media (max-width:740px){
    .fila{       
        flex-direction: column;
    }
    .container{
        width: 80vw;
    }
    header h1{
        position: initial;
        width: 100%;
        text-align: center;
        color: green;
    }
}

/* Primera prueba*/

/*Creamos el circulo*/
#cir-prueba1{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: red;
    animation-name: cambiarColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}
@keyframes cambiarColor {
    0%{
        background-color: black;
        height: 100px;
        opacity: 0%;
        box-shadow: 0 0 0 black;
    }
    50%{
        box-shadow: -10px 0 15px black;
    }
    100%{
        background-color: red;
        height: 120px;
        width: 120px;
        left: calc(100% - 120px);
        opacity: 100%;
        box-shadow: 10px 0 15px black;
    }
}


/*Prueba 2*/
.prueba2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*Estilizamos el texto*/
.prueba2 h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.3em;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: fit-content
}

.prueba2 div{
    margin-top: 50px;
    overflow: hidden;
    border-right: 1px solid black ;
    white-space: nowrap;
    animation: typewriter 4s steps(25) forwards  1s infinite ;
}

@keyframes typewriter {
    from {
        width: 0%
      }
      to {
        border-style: none;
        width: 100%; 
      }
    
}

/*Prueba 3*/
  /*Estilizamos el texto*/
.prueba3{
    background-color: black;
    color:white;
}


.prueba3 h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5em;
    text-shadow: 3px 0 0 rgba(255, 0, 0, 0.6),
                 -3px -2px  0 rgba(0, 255, 0, 0.6),
                 1px 2px 0 rgba(0, 0, 255, 0.6);
    animation: glitch 800ms infinite ;
    position: relative;
}

.prueba3 span{
    position: absolute;
    top: 0;
    left:0;
}
.prueba3 span:first-child{
    animation: glitch 650ms infinite;
    clip-path: polygon(0% 0%, 100% 30%, 100% 40%, 0% 44%);
    transform: translateX(-2px);
    opacity: .8;
}

.prueba3 span:last-child{
    animation: glitch 900ms infinite;
    clip-path: polygon(0% 70%, 100% 60%, 100% 100%, 0% 100%);
    transform: translateX(2px);
    opacity: .8;
}

@keyframes glitch {
    0%{
        text-shadow: 3px 0 0 rgba(255, 0, 0, 0.6),
                 -3px -2px  0 rgba(0, 255, 0, 0.6),
                 1px 2px 0 rgba(0, 0, 255, 0.6);
    }
    19%{
        text-shadow: 3px 0 0 rgba(255, 0, 0, 0.6),
                 -3px -2px  0 rgba(0, 255, 0, 0.6),
                 1px 2px 0 rgba(0, 0, 255, 0.6);
    }
    20%{
        text-shadow: 4px 1px 0 rgba(255, 0, 0, 0.6),
                 -2px -2px  0 rgba(0, 255, 0, 0.6),
                 2px 2px 0 rgba(0, 0, 255, 0.6);

    }
    34%{
        text-shadow: 4px 1px 0 rgba(255, 0, 0, 0.6),
                 -2px -2px  0 rgba(0, 255, 0, 0.6),
                 2px 2px 0 rgba(0, 0, 255, 0.6);

    }
    35%{
        text-shadow: 2.5px -1px 0 rgba(255, 0, 0, 0.6),
                 -3px 0px  0 rgba(0, 255, 0, 0.6),
                 4px 1.5px 0 rgba(0, 0, 255, 0.6);
    }
    59%{
        text-shadow: 2.5px -1px 0 rgba(255, 0, 0, 0.6),
                 -3px 0px  0 rgba(0, 255, 0, 0.6),
                 4px 1.5px 0 rgba(0, 0, 255, 0.6);
    }
    60%{
        text-shadow: 0px -2px 0 rgba(255, 0, 0, 0.6),
                 -4px -1px  0 rgba(0, 255, 0, 0.6),
                 4px 2px 0 rgba(0, 0, 255, 0.6);
    }
    81%{
        text-shadow: 0px -1px 0 rgba(255, 0, 0, 0.6),
                 -4px -1px  0 rgba(0, 255, 0, 0.6),
                 4px 2px 0 rgba(0, 0, 255, 0.6);
    }

    100%{
        text-shadow: 3px 0 0 rgba(255, 0, 0, 0.6),
                 0px 0px  0 rgba(0, 255, 0, 0.6),
                 3px 1.5px 0 rgba(0, 0, 255, 0.6);
    }
}
/*Este codigo sirve por si la persona quiere pausar TODAS las animaciones*/
@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
  }

/* Prueba 4*/
.prueba4{
    align-items: end;
}


.menu-prueba4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.boxmenu{
    background: blueviolet;
    display: flex;
    height: 60px;
    width: 60px;
    overflow: hidden;
    transition: .8s;
    color: white;
    justify-content: space-between;
    padding-right: 5px;
    border-radius: 10px;
    margin: 1px 1px;
    box-shadow: 0px 0px 4px blueviolet;
    outline: 2px solid blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.imgboxmenu{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.divtexto-menu{
    text-align: end;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
}
.divtexto-menu h2{
    position: relative;
}

.texto-menu{
    color: white;
    transition: 1s;
    transform: translateX(-20%);
    opacity: 0;
    filter: blur(.8rem);
}



.boxmenu:hover{
    color: white;
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.boxmenu:hover .texto-menu{
    transition-delay: 200ms;
    color: white;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}

/*PRUEBA 5 */
.prueba5 p{
    /* Ubicamos el texto Im a Koala debajo de la imagen*/
    position: absolute;
    top: 87%;
}
.imgfondoprueba5{
    /*Este es un div, definimos  una altura y un ancho y definimos la imagen de fondo,
    **ademas de ponerle el tamaño cover a la imagen (que ocupa todo el tamaaño del div
    **usamos el overflow hidden para ocultar todo elemento que sobresalga del div, por
    **ultimo le ponemos una posicion relativa, asi podemos uubicar los elementos tanto
    **dentro como por fuera del div segun deseemos (utilizamos el relative y el overflow
    **para lograr el efecto deseado */
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-image: url("img/koalanft.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sombraprueba5{
    /*El primer elemento dentro del div imgfondo, es una sombra. que ocupa todo el espacio
    **del elemento padre contenedor, y por ultimo dentro de este elemento pondremos los 
    **los textos que queremos q aparezcan en el hover*/
    background-color: rgba(20,30,30,.4);
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    transition: 800ms;
}

.imgfondoprueba5:hover .sombraprueba5{
    /*Cuando hagan hove por el primer div, quiero que se cambie el estilo de la sombra*/
    background-color: rgba(20,30,30,0.1);
}

.textolucasprueba5{
    /*Estilizamos el texto, y con la posicion absoluta, los dejamos fuera del div 
    **padre (imgfondoprueba5) de esta manera quedaran ocultos*/
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 1.1em;
    color: orangered;
    position: absolute;
    top: 70%; left: -70%;
    transition: 800ms;
    padding: 5px;
}

.imgfondoprueba5:hover .textolucasprueba5{
    /*Cuando hagan hover por el primer div, quiero cambiar las propiedades del texto
    **creado anteriormente, le voy a traer dentro de mi div y con un fondo*/
    background-color: rgba(60,50,120,.8); left: 0%; 
}

.textojavaprueba5{
    /*Para el segundo renglo, vuelvo a estilizarlo aplicando la logica del anterior */
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 1.15em;
    color: green;
    position: absolute;
    top: 85.2%; right: -73%;
    transition: 600ms;
    padding: 5px;
}

.imgfondoprueba5:hover .textojavaprueba5{
    
    background-color: rgba(20,20,50,.9); right: 0%; 
}

/* PRUEBA 6*/

.prueba6 p{
    /* Ubicamos el texto Im a Koala debajo de la imagen*/
    position: absolute;
    top: 87%;
    left: 2%;
}
.prueba6 h1{
    /*El z-index, es la posicion STACK de los elementos, en este caso
    **un index de 1000 nos asegura que el texto SIEMPRE quede arriba*/
    z-index: 1000;
}
.contprueba6{
    margin-top: 100px;
    width: 150px;
    height: 150px;
    position: relative;
    transform: rotate(-30deg) skew(30deg);
}

.contprueba6 img {
    /*ponemos la posicion absoluta y el top y left de 0, para que todas las 
    **imagenes queden apiladas una de la otra y el width del 100%*/
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    transition: 0.5s;
  }


.contprueba6:hover img:nth-child(4){
    transform: translate(100px, -100px);
    box-shadow: -2px -2px 8px pink;
    opacity: 1;
}
.contprueba6:hover img:nth-child(3){
    transform: translate(75px, -75px);
    opacity: .75;
    box-shadow: -2px -2px 8px pink;
}
.contprueba6:hover img:nth-child(2){
    transform: translate(50px, -50px);
    opacity: .5;
    box-shadow: -2px -2px 8px pink;
}
.contprueba6:hover img:nth-child(1){
    transform: translate(25px, -25px);
    opacity: .25;
    box-shadow: -2px -2px 8px pink;
}

/*Prueba 7*/
.cardprueba7{
    width: 75%;
    height: 60%;
    border-radius: 2;
    box-shadow: 0 0 5px blueviolet;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    border: 1px solid rgba(238, 130, 238, 0.6);
}

.fondocardfront{

    background-image: url("img/lms-logo.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: violet;
}

.sombraprueba7{
    background-color: rgba(20,30,30,.4);
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
}

.cardprueba7 h2{
    font-size: 3em;
    margin: 0;
    height: max-content;
    text-shadow: 0px 0px 10px blueviolet;
}

.cardprueba7 div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardback{
    transform: rotateY(180deg);
    font: 300 14px/20px 'Raleway', sans-serif;
    background-color: black;
}

.cardprueba7:hover { transform: rotateY(180deg); }

/*PRUEBA 8*/
.container8{
    width: 66vw;
    position: relative;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.slider{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    margin: 20px 0;
    padding: 40px 6px;

}
.itemslide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin-right: 11px;
}

.itemslide img{
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.thumbnail{
    position: absolute;
    bottom: 20px;left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.thumbnail-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 80px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    margin: 0px 15px;
    border-radius: 5px;
    transition:  300ms;
    opacity: .5;
}

.thumbnail-item img{
    height: 100%;
}

.thumbnail-item:hover{
    transform: scale(1.3);
    opacity: 1;
}

#img1:checked ~ .slider{
    transform: translate3d(0,0,0);
}

#img2:checked ~ .slider{
    transform: translate3d(calc(-100%*1),0,0);
}

#img3:checked ~ .slider{
    transform: translate3d(calc(-200%*1),0,0);
}